mat-card {
  width: 80%;
  margin: 2em auto;
  text-align: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 200px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}


.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
