<div class="title">
  <h1>Exemplos dos veiculos do Projeto:</h1>
</div>
<div class="pai">
  <!---FAZER UM TIPO DE LEGENDA DOS TERMOS UTILIZADOS-->

  <!---CARRETA TRUCADA OU LS-->
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Carreta LS ou Trucado - PART 1</mat-card-title>
      <mat-card-subtitle>06 eixos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/carreta-ls-carga-seca.jpg" alt="Foto de uma carreta do tipo LS 06 eixos">
    <mat-card-content>
      <p>
        A carreta LS é uma carreta de grande porte, também conhecida como cavalo mecânico trucado, e geralmente é
        utilizada para
        cargas pesadas. Possui um eixo duplo que distribui o peso da carga em mais rodas, permitindo assim que a carreta
        se
        movimente com mais facilidade
      </p>
    </mat-card-content>
  </mat-card>
  <!--Carreta TOCO-->
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Carreta LS - Part 2 </mat-card-title>
      <mat-card-subtitle>06 eixos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/carreta-ls-carga-seca.jpg" alt="Foto de uma carreta do tipo LS 06 eixos">
    <mat-card-content>
      <p>
        Ainda tem as seguintes características:
        Este tipo de caminhão possui dois eixos na parte traseira;
        Mais leve no asfalto e menos propenso a fazer marcas;
        Também pode transportar uma grande quantidade de peso, variando de acordo com o semirreboque anexado.
        Também podemos dizer que a carreta para cavalo “LS” (6×2 ou trucado) tem o balanço traseiro menor porque precisa
        transferir mais peso para o trator, por isso é mais curta. <br>

        <strong>Cavalo 8×2 ou 8×4</strong><br>
        Sobre a carreta para cavalo 8×2 ou 8×4, tem o balanço traseiro ainda menor porque precisa transferir mais peso
        para o
        trator, ou seja, praticamente não tem balanço traseiro.
      </p>
    </mat-card-content>
  </mat-card>
  <!--Carreta Vanderleia-->
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Carreta Vanderleia</mat-card-title>
      <mat-card-subtitle>06 eixos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/carreta-vanderleia-carga-seca.jpg"
      alt="Foto de um carreta do tipo Vanderleia 06 eixos">
    <mat-card-content>
      <p>
        É um semirreboque onde os 3 eixos de rodas são mais afastados do que as convencionais LS. Dessa forma, o peso da
        carga é melhor distribuído e possibilita carregar ainda mais carga, o que fez ela se tornar tão popular.
        A distância entre os 3 eixos da Vanderleia é em torno de 2,42 metros e das convencionais é 1,25 metros. Então,
        como esses eixos foram levados mais ao centro da carreta do que as LS, o peso sobre as rodas é melhor
        distribuído,
        evitando problemas e possibilitando transportar mais carga.
      </p>
    </mat-card-content>
  </mat-card>
  <!--Carreta TOCO-->
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cavalo Toco e Carreta Simples</mat-card-title>
      <mat-card-subtitle>05 eixos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/Caminhãotoco.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Com 2 eixos, é um veículo mecânico que tem apenas 2 barras onde as rodas são instaladas, ligando assim as rodas
        do lado
        esquerdo com o lado direito, tanto na parte frontal quanto na traseira.

        Além disso, a carreta para cavalo “toco” (4×2) tem o balanço traseiro maior porque precisa transferir menos peso
        para o
        trator, por isso é mais longa.
      </p>
    </mat-card-content>
  </mat-card>
  <div class="list">
    <h3>Links: Saber mais⬇️</h3>
    <mat-list>
      <mat-list-item>
        <a mat-raised-button href="https://www.truckpad.com.br/blog/caminhao-3-4-ou-vuc/" target="_blank"
          rel="noopener noreferrer" style="text-decoration: none;color: inherit;">Link 1⬇️</a>
      </mat-list-item>
      <mat-list-item><a mat-raised-button
          href="https://arizonagrupo.com.br/saiba-as-diferencas-entre-tipos-de-caminhoes-toco-ls-e-tracado/"
          target="_blank" rel="noopener noreferrer" style="text-decoration: none;color: inherit;">Busque
          Conhecimento👽</a>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="accent" (click)="onBack()">⬅️Voltar</button>
      </mat-list-item>
    </mat-list>
  </div>
</div>