<mat-toolbar color="primary">FRETAMENTO FÁCIL

  <span class="example-spacer">
    <mat-icon aria-hidden="false" aria-label="Example home icon"><a href="https://github.com/DevOsvaldo" target="_blank"
        rel="noopener noreferrer"><i class="fa-brands fa-github-alt"></i></a></mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon"><a
        href="https://www.linkedin.com/in/osvaldo-junior-77387298/" target="_blank"><i
          class="fa-brands fa-linkedin"></i></a></mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon"><a routerLink="cargaslegenda"><i
          class="fa-solid fa-truck"></i></a></mat-icon>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>