.mat-table
{
  overflow: auto;
  max-height: 600px;
}
.action-column {
margin: 2px;
}

.action-column-header {
  margin: 0 auto;
}

.cdk-header-cell {
  font-weight: bold;
}
.mat-mdc-row .mdc-data-table__row .cdk-row{
width: 80%;
}
mat-header-cell{
  display:flex;
  flex-wrap: wrap;
}

@media (max-width:720px) {

}
